/* Tags */

body {
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

a {
  color: #fff;
}

a:hover {
  color: #bbe1fa;
  text-decoration: none;
}

/* Heading */

.big-heading {
  font-weight: 800;
}

/* Sections */

.colored-section {
  background-color: #3282b8;
  color: #fff;
}

/* Header */

#header {
  text-align: justify;
}

/* Footer */

#footer {
  font-size: 0.8rem;
}

.footer-image {
  border-radius: 100%;
  width: 2rem;
}
/* Container */

.container-fluid {
  padding: 3% 0;
}
