/* Tags */

body {
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

a {
  color: #fff;
}

a:hover {
  color: #bbe1fa;
  text-decoration: none;
}

h5 {
  font-weight: 700;
}

/* Container */

/* Heading */

.big-heading {
  font-weight: 800;
}

/* Sections */

#summary {
  margin-top: 1.5rem;
}

.colored-section {
  background-color: #3282b8;
  color: #fff;
  padding: 2rem 15%;
}

.white-section {
  padding: 1rem 15%;
}

/* Header */

.profile-photo {
  border-radius: 100%;
  float: left;
  margin-right: 2rem;
  width: 10rem;
}

/* Work Experience */

.year-duration {
  font-size: 0.8rem;
}

/* Footer */

#footer {
  font-size: 0.8rem;
}

.footer-image {
  border-radius: 100%;
  width: 2rem;
}

@media (max-width: 767px) {
  #header {
    text-align: center;
  }

  .profile-photo {
    float: none;
    margin: 0 0 1rem 0;
  }

  .big-heading {
    font-size: 1.5rem;
  }

  .header-contact-text {
    font-size: 0.8rem;
  }
}
